@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
body {
  --primary: #12212e;
  --secondary: #f8a41a;
  --white: #ffffff;
  font-family: "Roboto", sans-serif;
}
h2{
  text-align: center;
}